* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  max-width: 1200px;
  max-height: 100vh;
}
#perso {
  width: 5rem;
  position: absolute;
  transition: .2s ease;
}

#post {
  text-align: center;
}

#img {
  display: none; 
  width: 100%;
}